<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>File Download Service</display-name>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>fi.nls.fileservice.web.config</param-value>
	</context-param>
	
	<!--  http://www.springsource.com/security/cve-2011-2730 -->
	<context-param>
		<param-name>springJspExpressionSupport</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<resource-env-ref>
		<description>Database</description>
		<resource-env-ref-name>jdbc/tiepaldb</resource-env-ref-name>
		<resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>
  
	 <!--<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/views/error_400.jsp</location> 
	</error-page>

	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/views/error_403.jsp</location> 
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/error_403.jsp</location> 
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error_404.jsp</location> 
	</error-page> -->

	<!--  show 404 not found instead of method not supported -->
	<!--<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/views/error_404.jsp</location> 
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error_500.jsp</location> 
	</error-page>-->

</web-app>
